.form-container {
  margin: 0 auto;
}

.form-container h2 {
  margin-top: 50px;
  font-size: 2rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-form h2 {
  font-size: 3rem;
}

.auth-form input {
  font-size: 1.8rem;
  border-radius: 3px;
  margin: 5px 0;
  padding: 10px;
  color: black;
}

.auth-form-footer {
  text-align: center;
}

.auth-form-footer button {
  margin: 10px;
  font-size: 1.8rem;
  background: none;
  padding: 5px;
}

.auth-form-footer button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.button {
  padding: 8px;
  font-size: 1.8rem;
  cursor: pointer;
  color: black;
}

.error-message {
  margin-top: 5px;
  text-align: center;
  font-size: 1.8rem;
  color: white;
}
