.buttons-container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.way-button {
  margin: 10px 20px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
  color: black;
  font-size: 2.5rem;
  background: white;
  border: none;
}

.way-button:focus {
  outline: none;
}

.way-button:hover {
  border: 3px solid dodgerblue;
}

.loading {
  animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
