*,
html {
  font-size: 62.5%;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Caveat Brush', cursive, sans-serif;
  color: white;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

.app-container {
  width: 100%;
  height: 98vh;
  display: flex;
}

.container {
  margin: auto auto;
}

.container h1 {
  font-size: 5rem;
  font-family: 'Press Start 2P', cursive;
  margin-bottom: 15px;
}

.container a {
  font-size: 1.8rem;
  font-family: 'Press Start 2P', cursive;
  text-decoration: none;
}

.link {
  font-size: 1.8rem;
  color: dodgerblue;
  cursor: pointer;
}

.border {
  border: 2px solid white;
}
